* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0fafb;
}
.header {
  height: 100px;
  background-color: #5ea4a4;
  width: 100%;
  background-image: url("./images/bg-header-mobile.svg");
}
.container {
  margin: 30px auto;
  max-width: 85%;
}
.jobCard {
  margin-top: 5rem;
}

.card-item {
  list-style: none;
  background-color: #fff;
  margin: 1rem;
}
.card-item p {
  margin: 1rem;
}
.search {
  width: 10%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#input {
  background-image: url("./searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 3rem;
}
